.search-bar {
    display: flex;
    background-color: white;
    align-items: center;
    border-radius: 8px;
    margin: 20px 0px 0px 10px;
    width: 60%;
    min-width: 370px;
    height: 30px;
  }
  
  /* Remove the fixed width from .search-text */
  .search-text {
    border: unset;
    height: 100%;
    flex-grow: 1; /* This makes the input grow and take up remaining space */
    padding-left: 12px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  /* Remove the fixed width from .search-select */
  .search-select {
    border: unset;
    height: 100%;
    cursor: pointer;
  }
  .search-select:hover {
    background-color: #e0e0e0;
  }
  
  /* Remove the fixed width from .search-button */
  .search-button {
    border: unset;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #757575;
    cursor: pointer;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .search-button:hover {
    background-color: #e0e0e0;
  }
  .search-button:active {
    color: #212121;
    background-color: #e0e0e0;
  }

  .add-button{
    background-color: rgb(37, 82, 16);
    border-radius: 8px;
    margin-left: 10px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.add-button:hover{
    background-color: rgb(16, 41, 4);
    filter: brightness(0.8);
    cursor: pointer;
}

#add-tag-button{
    background-color: rgb(57, 82, 16);
}

#tag-icon{
    padding-bottom: 10px;
}

.search-bar-add-button{
    display: flex;
    margin-bottom: 30px;
}