.taxon-card{
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-family: BlinkMacSystemFont;
}

.taxon-card-header{
    gap: 3px;
}

.taxon-name{
    color: #fff;
    font-size: big;
}

.taxon-commom-name{
    color: grey; 
    font-size: small;
    margin-left: 10px;
    opacity: 0.7;
}

.taxon-type{
    color: grey; 
    font-size: small;
    margin-left: 10px;
}

.taxon-card-body{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 10px;
}

.taxon-card-image{
    width: 200px;
    height: 200px;
    color: white;
}

.taxon-text-container{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 14px;
}

.taxon-tag-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.taxon-tag{
    margin-left: 3px;
    background-color: dimgrey;
    padding: 2px;
    border-radius: 5px;
}