/* navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #28a745;
  }
  .navbar:hover {
    color: #bbf89e;
  }
  
  .navbar-brand {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  .navbar-brand:hover {
    color: #b0df9a;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-item {
    margin: 0;
  }
  
  .nav-link {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
  }
  .nav-link:hover {
    color: #0c1f03;
  }
  
  